@import url("https://fonts.googleapis.com/css?family=Montserrat");

:root{
  --primario:rgb(97, 2, 221);
  --secundario:rgb(245, 1, 74);
  --terceario:#fff;
  --blanco:#fff;
  --negro:#000;
  --gris:#f2f2f2;

  --fuenteHading:'Fredoka', sans-serif;
  --fuenteSecundaria:'Roboto', sans-serif;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;

}
body{
  font-size: 16px;
  font-family: var(--fuenteSecundaria);
  /* background-color: var(--secundario); */
  height: 100vh;
  background-color: rgb(252, 252, 252);
 
}
*, *:before, *:after{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
/* ; */
img{
  max-width: 100%;
}
a{
  text-decoration: none;
}
h1{
  font-size: 6rem;
}
h2{
  font-size: 4rem;
}
h3{
  font-size: 3.2rem;
}
h1,h2,h3{
  margin: 0;
}
[class$="__contenedor"]{
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;

  
}
